<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') -%>
  <main style="margin: 1em;">
    <h3>My URLs</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Short URL</th>
          <th scope="col">Long URL</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(const url in urls) { %>
          <tr>
            <td><a href="/urls/<%= urls[url].id %>"><%= urls[url].id %></a></td>
            <td><%= urls[url].longURL %></td> 
            <td>
              <a href= "/urls/<%= url.id %>">
                <button type="button">Edit</button></a> 
            </td>
            <td><form method="POST" action="/urls/<%= urls[url].id %>/delete">
              <button type="button">Delete</button>
            </form></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </main>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>